In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
63,tt3569230,25000000,42972994,Legend,Tom Hardy|Emily Browning|Christopher Eccleston...,Brian Helgeland,"Love, fight, live, rule like a legend.","Suave, charming and volatile, Reggie Kray and ...",131,Crime|Thriller,Working Title Films|Cross Creek Pictures|Anton...,9/9/2015,6.7,2015
1130,tt0309593,26000000,90426405,Final Destination 2,Ali Larter|A.J. Cook|Michael Landes|Tony Todd|...,David R. Ellis,Death is like a boomerang. it keeps coming back,When Kimberly has a violent premonition of a h...,90,Horror|Mystery,New Line Cinema|Zide-Perry Productions,1/31/2003,5.9,2003
68,tt2726560,34000000,63013281,The Longest Ride,Scott Eastwood|Britt Robertson|Lolita Davidovi...,"George Tillman, Jr.",Two couples. Two love stories. One epic tale.,The lives of a young couple intertwine with a ...,128,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment,4/9/2015,7.3,2015
1750,tt0432021,45000000,147717833,Resident Evil: Extinction,Milla Jovovich|Oded Fehr|Ali Larter|Iain Glen|...,Russell Mulcahy,The Extinction Is Coming...,"Years after the Racoon City catastrophe, survi...",94,Horror|Action|Science Fiction,Impact Pictures|Davis-Films|Constantin Film Pr...,9/20/2007,6.0,2007
1844,tt0190138,41300000,106371651,The Whole Nine Yards,Bruce Willis|Matthew Perry|Rosanna Arquette|Mi...,Jonathan Lynn,"In the heart of suburbia, a hit man with heart...",A mobster named Jimmy the Tulip agrees to coop...,98,Comedy|Crime,Franchise Pictures|Warner Bros.|Morgan Creek P...,2/18/2000,6.0,2000

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

## Предобработка

In [5]:
answers = {} # создадим словарь для ответов


data['profit'] = data.revenue - data.budget # новый столбец в датасете с прибылью / убытком


data['lenght_title'] = data.original_title.apply(lambda x: len(x)) # новый столбец в датасете с длиной названия фильма

    
data['lenght_overview'] = data.overview.apply(lambda x: len(x.split()))  # новый столбец в датасете с числом слов в описании


genres_list = [] # создаем пустой список для добавления жанров фильма
def max_count_genres(st):
    """Функция для подсчета жанров"""
    st_split = st.split('|')
    for i in range(len(st_split)):
        genres_list.append(st_split[i])
    return


genres_list_profit = [] # создаем пустой список для добавления прибыльных жанров
def profit_genres(st):
    """Функция для подсчета прибыльных жанров"""
    st_split = st.split('|')
    for i in range(len(st_split)):
        genres_list_profit.append(st_split[i])
    return


def release_month(st):
    """Функция для выделения месяца из даты"""
    st_split = st.split('/')
    return st_split[0]


high_budg_list = [] # создаем пустой список для добавления актеров из высокобюджетных фильмов
def high_budget(st):
    """Функция для подсчета актеров в высокобюджетных фильмах"""
    st_split = st.split('|')
    for i in range(len(st_split)):
        high_budg_list.append(st_split[i])
    return


cast_2012_list = [] # создаем пустой список для добавления актеров, сыгравших в фильмах 2012 года
def cast_2012(st):
    """Функция для подсчета актеров в фильмах 2012 года"""
    st_split = st.split('|')
    for i in range(len(st_split)):
        cast_2012_list.append(st_split[i])
    return


monthes = [] # создаем пустой список для добавления месяца из даты
def release_monthes(st):
    """Функция для выделения месяца из даты"""
    st_split = st.split('/')
    monthes.append(st_split[0])
    return 


data.release_date.apply(release_monthes)
data['release_monthes'] = pd.DataFrame(monthes)


all_studies_list = [] # создаем пустой список для добавления студий, снимавших фильмы из датасета
def all_studies(st):
    """Функция для подсчета числа студий, снимавших фильмы из датасета"""
    st_split = st.split('|')
    for i in range(len(st_split)):
        all_studies_list.append(st_split[i])
    return


genres_list_NC = [] # создаем пустой список для добавления жанров фильмов (для задания 17)
def NC_count_genres(st):
    """Функция для подсчета жанров (для задания 17)"""
    st_split = st.split('|')
    for i in range(len(st_split)):
        genres_list_NC.append(st_split[i])
    return

# 1. У какого фильма из списка самый большой бюджет?

In [6]:
display(data[data.budget == data.budget.max()].original_title)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
display(data[data.budget == data.budget.max()])

answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,lenght_title,lenght_overview,release_monthes
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,43,75,5

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
display(data[data.runtime == data.runtime.max()])

answers['2'] = '2. Gods and Generals (tt0279111)' # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,lenght_title,lenght_overview,release_monthes
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,17,48,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
display(data[data.runtime == data.runtime.min()])

answers['3'] = '3. Winnie the Pooh (tt1449283)' # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,lenght_title,lenght_overview,release_monthes
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,15,52,4

# 4. Какова средняя длительность фильмов?

In [10]:
display(data.runtime.mean())

answers['4'] = '2. 110' # +

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [11]:
display(data.runtime.median())

answers['5'] = '1. 107' # +

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
display(data[data.profit == data.profit.max()])

answers['6'] = '5. Avatar (tt0499549)' # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,lenght_title,lenght_overview,release_monthes
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,6,28,12

# 7. Какой фильм самый убыточный?

In [13]:
display(data[data.profit == data.profit.min()])

answers['7'] = '5. The Lone Ranger (tt1210819)' # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,lenght_title,lenght_overview,release_monthes
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,15,68,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
display(data.query('profit > 0').imdb_id.count())

answers['8'] = '1. 1478' # +

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
display(data[data.revenue == data.query('release_year == 2008').revenue.max()])

answers['9'] = '4. The Dark Knight (tt0468569)' # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,lenght_title,lenght_overview,release_monthes
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,15,67,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
display(data[data.profit == data.query('2012 <= release_year <= 2014').profit.min()])

answers['10'] = '5. The Lone Ranger (tt1210819)' # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,lenght_title,lenght_overview,release_monthes
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,15,68,7

# 11. Какого жанра фильмов больше всего?

In [17]:
# Примечение - здесь важно исполнять данный код 1 раз, иначе появляются дублирующие строки в списке
# В случае повторного запуска - надо заново запустить строку "Предобработка"

data.genres.apply(max_count_genres) # формируем список жанров
gl_df = pd.DataFrame(genres_list) # преобразуем список жанров в датафрейм
gl_df.columns = ['genre'] # присваиваем название столбцу
display(gl_df.value_counts()) # выводим результаты

answers['11'] = '3. Drama' # +

genre
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [18]:
# Примечение - здесь важно исполнять данный код 1 раз, иначе появляются дублирующие строки в списке
# В случае повторного запуска - надо заново запустить строку "Предобработка"


data.query('profit > 0').genres.apply(profit_genres) # формируем список прибыльных жанров
gl_df_profit = pd.DataFrame(genres_list_profit) # преобразуем список прибыльных жанров в датафрейм
display(gl_df_profit.value_counts()) # выводим результаты

answers['12'] = '1. Drama' # +

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [19]:
display(data.groupby(['director'])['revenue'].sum().sort_values(ascending = False).head())

answers['13'] = '5. Peter Jackson' # +

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [20]:
display(data[data.genres.str.contains('Action')].groupby(['director'])['genres'].count().sort_values(ascending = False).head())

answers['14'] = '3. Robert Rodriguez' # +

director
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
Robert Rodriguez      6
Name: genres, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [21]:
data.query('release_year == 2012').cast.apply(cast_2012)  # определяем актеров, снимавшихся в фильмах 2012 года
data_2012 = data.query('release_year == 2012')  # определяем новый датасет с фильмами только 2012 года
cast_2012_list_2 = list(set(cast_2012_list))  # убираем повторяющихся актеров из списка, снимавшихся в фильмах 2012 года
cast_2012_money_list = []  # создаем пустой список, в который будем заносить суммарные кассовые сборы по каждому актеру
for i in range(len(cast_2012_list_2)):  # в цикле по каждому актеру определяем суммарные кассовые сборы в фильмах, в которых он снимался и добавляем это значение к списку
    cast_2012_money_list.append(data_2012[data_2012.cast.str.contains(cast_2012_list_2[i])].revenue.sum())
cast_2012_money_df = pd.DataFrame(cast_2012_money_list)  # определяем новый датафрейм на основе списка с суммарными кассовыми сборами актеров
cast_2012_money_df.columns = ['money_sum']  # называем столбец суммарных кассовых сборов
cast_2012_money_df['cast'] = pd.DataFrame(cast_2012_list_2)  # добавляем новый столбец в датафрейм - актеры (особенность: благодаря циклу индексы в двух столбцах соответствуют друг другу)
display(cast_2012_money_df.sort_values('money_sum', ascending=False))  # выводим ответ

answers['15'] = '3. Chris Hemsworth' # +

      money_sum               cast
211  2027450773    Chris Hemsworth
261  1629460639        Denis Leary
421  1522851057      Anne Hathaway
89   1519557910       Mark Ruffalo
171  1519557910  Robert Downey Jr.
..          ...                ...
396     3428048       Frank Grillo
448     2106557       Nicolas Cage
296     2106557       Danny Huston
258     2106557         Josh Lucas
284     2106557         Sami Gayle

[466 rows x 2 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [22]:
data[data.budget > data.budget.mean()].cast.apply(high_budget)  # создаем список из актеров, снимавшихся в высокобюджетных фильмах, причем важно, что актеры могут повторяться - значит сыграли не в 1 высокобюджетном фильме
hb_df = pd.DataFrame(high_budg_list)  # образуем на основе списка новый датафрейм
display(hb_df.value_counts())  # выводим ответ из отсортированного датафрейма

answers['16'] = '3. Matt Damon' # +

Matt Damon                 18
Adam Sandler               17
Angelina Jolie             16
Tom Cruise                 15
Eddie Murphy               15
                           ..
Jennifer Hudson             1
Jennifer Jason Leigh        1
Jennifer Saunders           1
Jennifer Tilly              1
Ã“lafur Darri Ã“lafsson     1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [23]:
data[data.cast.str.contains('Nicolas Cage')].genres.apply(NC_count_genres)  # формируем список жанров, в которых снимался Nicolas Cage
NC_df = pd.DataFrame(genres_list_NC)  # преобразуем список жанров, в которых снимался Nicolas Cage, в датафрейм
display(NC_df.value_counts())  # выводим результаты

answers['17'] = '2. Action' # +

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [24]:
display(data[data.production_companies.str.contains('Paramount Pictures')].groupby(['original_title'])['profit'].unique().sort_values(ascending=False))

answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # +

original_title
Transformers: Dark of the Moon                        [928746996]
Transformers: Revenge of the Fallen                   [686297228]
Indiana Jones and the Kingdom of the Crystal Skull    [601636033]
Transformers                                          [559709780]
Mission: Impossible - Ghost Protocol                  [549713380]
                                                         ...
Twisted                                               [-24805000]
Alfie                                                 [-46604061]
Next                                                  [-51788987]
Timeline                                              [-60519261]
K-19: The Widowmaker                                  [-64831034]
Name: profit, Length: 122, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [25]:
display(data.groupby(['release_year'])['revenue'].sum())

answers['19'] = '5. 2015' # +

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2004    15663430720
2005    15309425558
2006    14775042320
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [26]:
display(data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum())

answers['20'] = '1. 2014' # +

release_year
2000     452631386
2001    1343545668
2002    1022709901
2003    1855493377
2004    1631933725
2005    1551980298
2006     620170743
2007    2201675217
2008    2134595031
2009    1822454136
2010    1974712985
2011    1871393682
2012    1258020056
2013    1636453400
2014    2295464519
2015     870368348
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [27]:
display(data.release_date.apply(release_month).value_counts())

answers['21'] = '4. Сентябрь' # +

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [28]:
display(data.query('release_monthes in ["6", "7", "8"]').original_title.count())

answers['22'] = '2. 450' # +

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [29]:
display(data.query('release_monthes in ["1", "2", "12"]').groupby(['director'])['release_monthes'].count().sort_values(ascending=False))

answers['23'] = '5. Peter Jackson' # +

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Martin Scorsese      4
                    ..
GÃ¡bor CsupÃ³        1
Guy Ritchie          1
Guy Ferland          1
Gus Van Sant         1
Will Gluck           1
Name: release_monthes, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
data.production_companies.apply(all_studies)  # создаем список всех студий, снимавших фильмы из датасета
all_studies_list_2 = list(set(all_studies_list))  # убираем дубли в списке студий
lenght_title_studies_list = []  # создаем пустой список, в который будем записывать количество символов в названии
for i in range(len(all_studies_list_2)):  # в цикле проходимся во списку уникальных студий и присваиваем студии с соответствующим номером в новом списке среднее количество символов в названиях фильмов этой студии
    lenght_title_studies_list.append(data[data.production_companies.str.contains(all_studies_list_2[i])].lenght_title.mean())
lenght_title_df = pd.DataFrame(lenght_title_studies_list)  # создаем новый датафрейм на основе получившегося списка
lenght_title_df.columns = ['lenght_title']  # присваиваем название колонке в новом датафрейме
lenght_title_df['production_companies'] = pd.DataFrame(all_studies_list_2)  # добавляем новую колонку в датафрейм - студию (особенность - индексы среднего количества символов и студий - совпадают)
display(lenght_title_df.sort_values('lenght_title', ascending=False))  # выводим отсортированный по убыванию ответ

answers['24'] = '5. Four By Two Productions' # +

/Users/sunshine/opt/anaconda3/lib/python3.8/site-packages/pandas/core/strings/accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

      lenght_title                         production_companies
1202          83.0                      Four By Two Productions
164           59.0                      Jim Henson Company, The
206           47.0                                Dos Corazones
638           46.0                    Museum Canada Productions
379           46.0                                 Polsky Films
...            ...                                          ...
1628           NaN                 Dimension Films (US version)
1648           NaN                                 Canal+Polska
1707           NaN                      Monolith Pictures (III)
1741           NaN  Sony Pictures Worldwide Acquisitions (SPWA)
1768           NaN                    Metro-Goldwyn-Mayer (MGM)

[1771 rows x 2 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [31]:
data.production_companies.apply(all_studies)  # создаем список всех студий, снимавших фильмы из датасета
all_studies_list_2 = list(set(all_studies_list))  # убираем дубли в списке студий
lenght_overview_studies_list = [] # создаем пустой список, в который будем записывать количество слов в описании фильма
for i in range(len(all_studies_list_2)):  # в цикле проходимся во списку уникальных студий и присваиваем студии с соответствующим номером в новом списке среднее количество слов в описании фильмов этой студии
    lenght_overview_studies_list.append(data[data.production_companies.str.contains(all_studies_list_2[i])].lenght_overview.mean())
lenght_overview_df = pd.DataFrame(lenght_overview_studies_list)  # создаем новый датафрейм на основе получившегося списка
lenght_overview_df.columns = ['lenght_overview']  # присваиваем название колонке в новом датафрейме
lenght_overview_df['production_companies'] = pd.DataFrame(all_studies_list_2)  # добавляем новую колонку в датафрейм - студию (особенность - индексы среднего количества слов и студий - совпадают)
display(lenght_overview_df.sort_values('lenght_overview', ascending=False))  # выводим отсортированный по убыванию ответ

answers['25'] = '3. Midnight Picture Show' # +

/Users/sunshine/opt/anaconda3/lib/python3.8/site-packages/pandas/core/strings/accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

      lenght_overview                         production_companies
269             175.0                        Midnight Picture Show
1271            161.0                         Room 9 Entertainment
167             159.0                           98 MPH Productions
556             159.0               Heineken Branded Entertainment
848             156.0             Brookwell-McNamara Entertainment
...               ...                                          ...
1628              NaN                 Dimension Films (US version)
1648              NaN                                 Canal+Polska
1707              NaN                      Monolith Pictures (III)
1741              NaN  Sony Pictures Worldwide Acquisitions (SPWA)
1768              NaN                    Metro-Goldwyn-Mayer (MGM)

[1771 rows x 2 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [32]:
display(data.original_title.count()//100)  # находим 1 % от общего числа фильмов
display(data.groupby(['vote_average'])['original_title'].value_counts().tail(data.original_title.count()//100))

answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # +

18

vote_average  original_title
7.8           The Lord of the Rings: The Two Towers            1
              The Prestige                                     1
              The Theory of Everything                         1
              There Will Be Blood                              1
7.9           12 Years a Slave                                 1
              Gone Girl                                        1
              Guardians of the Galaxy                          1
              Inception                                        1
              Memento                                          1
              The Grand Budapest Hotel                         1
              The Lord of the Rings: The Return of the King    1
              The Pianist                                      1
              The Wolf of Wall Street                          1
8.0           Inside Out                                       1
              Interstellar                                     1
              Room                                             1
              The Imitation Game                               1
8.1           The Dark Knight                                  1
Name: original_title, dtype: int64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [33]:
# Общий ответ не подобран, но частный решается следующим образом:
display(data[(data.cast.str.contains('Johnny Depp')) & (data.cast.str.contains('Helena Bonham Carter'))].original_title.count())
display(data[(data.cast.str.contains('Ben Stiller')) & (data.cast.str.contains('Owen Wilson'))].original_title.count())
display(data[(data.cast.str.contains('Vin Diesel')) & (data.cast.str.contains('Paul Walker'))].original_title.count())
display(data[(data.cast.str.contains('Adam Sandler')) & (data.cast.str.contains('Kevin James'))].original_title.count())
display(data[(data.cast.str.contains('Daniel Radcliffe')) & (data.cast.str.contains('Rupert Grint'))].original_title.count())

answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # +

6

6

5

5

8

# Submission

In [34]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [35]:
# и убедиться что ни чего не пропустил)
len(answers)

27